{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-around">
        <div class="col-md-6 mt-5 text-center">
            <h5>You have been logged out!</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <small class="text-muted">
                <a href="{% url 'login' %}">Log in again</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}
