{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-around mb-3 p-3">
        <div class="col-sm-5">
            <div class="row mb-5">
            </div>
            <div class="row">
                <h2>{{ my_profile.0.fullname }}</h2>
            </div>
            <div class="row">
                <h6><span>&#8220;</span>{{ my_profile.0.status }}
                    <span>&#8220;</span></h6>
            </div>
            <div class="row">
                <h4>Bio</h4>
            </div>
            <div class="row">
                <p class="date-read">{{ my_profile.0.bio }}</p>
            </div>
            <div class="row">
                <img width="15px" height="15px" class="mr-2 mt-1" src="{% static 'images/gmail.png' %}">
                <p>{{ request.user.email }}</p>
            </div>
            <div class="row">
                <img width="15px" height="15px" class="mr-2 mt-1" src="{% static 'images/location.png' %}">
                <p>{{ my_profile.0.address }}</p>
            </div>
            <div class="row">
                <p class="mr-3">Editor:</p>
                {% if request.user.profile.editor %}
                <img width="15px" height="15px" class="mr-2 mt-1" src="{% static 'images/tick.png' %}">
                {% else %}
                <img width="15px" height="15px" class="mr-2 mt-1" src="{% static 'images/wrong.png' %}">
                {% endif %}
            </div>
            <div class="row">
                {% if user.is_authenticated %}
                <a href="{% url 'edit_profile' %}" class="text-success mr-3">Update profile</a>
                {% if request.user.profile.editor %}
                <a href="{% url 'add-post' %}" class="text-info">Add Post</a>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-3 mt-5 p-3 text-center">
            <img src="{{my_profile.0.image.url}}" style="padding: 0px; width: 200px; height: 200px; line-height: 50px;
            border-radius: 50%; border: 2px solid #39FF14;">
        </div>
    </div>
    <div class="row justify-content-around border-top p-3">
        {% for post in posts %}
        <div class="col-md-8">
            <div class="post-entry-2 d-flex">
                <div class="thumbnail order-md-2 rounded" style="background-image: url({{post.thumbnail.url}})"></div>
                <div class="contents order-md-1 pl-0">
                    <span class="caption mb-4 d-block">{{post.auther.username}}</span>
                    <h2><a href="{% url 'post' post.id post.slug %}">{{post.title}}</a></h2>
                    <p class="mb-3">{{post.overview}}</p>
                    <div class="post-meta">
                  <span class="d-block">
                    {% for cat in post.categories.all %}
                      <a href="#">{{cat.title}}</a>,
                    {% endfor %}
                  </span>
                        <span class="date-read">{{post.time_upload}} <span class="mx-1">&bullet;</span> {{post.read}} reads <span
                                class="icon-star2"></span></span>
                        {% if post.auther.username == request.user.username %}
                        <a href="{% url 'post_update' post.id %}" class="text-success ml-1">update</a>
                        <a href="{% url 'post_delete' post.id %}" class="text-danger ml-1">delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
